
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

:root {
  font-family: Raleway, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 50vh;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid grey;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3a3a3a;
  cursor: pointer;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 1px;
  font-family: "Raleway";
  font-weight: 100;
  position: relative;
  width: 100%;
  background: linear-gradient(to right, black, #555, black);
  white-space: nowrap;
}

.challenge-list {
  width: 100%;
  gap: 1rem;
}

.challenge-item {
  background-color: #2b2b2b;
  padding: 1rem 2rem;
  margin: 1rem auto;
  text-transform: uppercase;
  border-radius: 8px;
  box-shadow: 0 0 4px 4px rgba(180, 57, 224, 0.9);
  font-size: 2.25rem;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
  width: 50%;
  transition: transform 0.3s, box-shadow 0.3s;
}


.refresh-button {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #2c2c2c;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.refresh-button:hover {
  background-color: #0056b3;
}